<div class="col-md-10 col-md-offset-1">
  <div class="paddingSpace"></div>
  <div id="showPageHeaderFix" class="top-fixed-box cateFixed">
    <%= render 'showHeader' %>
  </div>
  <div id="showPageHeader" class="top-fixed-box">
    <%= render 'showHeader' %>
  </div>

  <div class="showpage-left">
    <ul class="list-unstyled">
      <div class="list-group fl50">
        <li>
          <span><%= t("dutyWage") %>：</span>
          <strong><%= @job.wage_lower_bound %>-<%= @job.wage_upper_bound %>元/月</strong>
        </li>
        <li>
          <span><%= t("publishAt") %>：</span>
          <strong><%= render_date_format(@job.created_at) %></strong>
        </li>
        <li>
          <span>工作经验：</span>
          <strong>不限</strong>
        </li>
        <li>
          <span><%= t("requireNum") %>：</span>
          <strong><%= @job.require_num %>人</strong>
        </li>
      </div>

      <div class="list-group fl50">
        <li>
          <span><%= t("workplace") %>：</span>
          <strong><%= @job.workplace %></strong>
        </li>
        <li>
          <span>工作性质：</span>
          <strong>全职</strong>
        </li>
        <li>
          <span>最低学历：</span>
          <strong>本科</strong>
        </li>
        <li>
          <span><%= t("duty") %>：</span>
          <strong><%= @job.duty %></strong>
        </li>
      </div>
    </ul>

    <ul class="nav nav-tabs mb10">
      <li class="active">
        <a href="#jobDetail" data-toggle="tab">职位描述</a>
      </li>
      <li>
        <a href="#comInfo" data-toggle="tab">公司介绍</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="jobDetail" class="tab-pane fade in active">
        <%= simple_format(@job.description) %>
      </div>
      <div id="comInfo" class="tab-pane fade">
        <p></p>
        <div>&nbsp; &nbsp; &nbsp;安信证券股份有限公司（以下简称“安信证券”）成立于2006年8月18日。目前股东为国家开发投资公司、中国证券投资者保护基金有限责任公司、深圳市远致投资有限公司等14家，注册资本319,999万元。<br>
          安信证券总部设于深圳，下辖5家分公司，在25个省级行政区设有154家证券营业部，并全资拥有安信期货、安信国际、安信乾宏，控股安信基金等子公司，构建起综合金融理财服务平台。<br>
          安信证券可为广大投资者提供证券代理买卖、证券承销与保荐、证券资产管理、证券投资咨询、融资融券、基金代销、金融产品代销、股指期货中间介绍以及与证券交易、证券投资活动有关的财务顾问等服务。&nbsp;更多详情，请浏览我司网站http://www.essence.com.cn&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="showpage-right">
    <div class="company-box">
      <p class="company-name-t">
        <a rel="nofollow" href="http://company.zhaopin.com/P6/CC1302/8985/CC130289851.htm" target="_blank">上海贝思特电气有限公司</a>
      </p>
      <ul class="list-unstyled">
        <li>
          <span>公司规模：</span>
          <strong>1000-9999人</strong>
        </li>
        <li>
          <span>公司性质：</span>
          <strong>民营</strong>
        </li>

        <li>
          <span>公司行业：</span>
          <strong>
            <a target="_blank" href="http://jobs.zhaopin.com/shanghai/in129900/">大型设备/机电设备/重工业</a>
          </strong>
        </li>

        <li>
          <span>公司主页：</span>
          <strong>
            <a rel="nofollow" href="www.shbst.com" target="_blank">www.shbst.com</a>
          </strong>
        </li>

        <li>
          <span>公司地址：</span>
          <strong>
            上海市浦东新区航头镇航启路1号<br>

          </strong>
        </li>
      </ul>
      <!--是否是反馈通-->
      <input type="hidden" id="displayRegionScopeId" name="displayRegionScopeId" value="0">
    </div>
  </div>

</div>
