<section id="box">
  <div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1><%= t("webIntro") %></h1>
        <%= link_to(t('startBtn'), jobs_path, class: 'btn btn-danger')  %>
      </div>
    </div>
  </div>
</section>

<section id="features" class="features">
  <div class="container">
    <div class="row">

      <div class="text-center mb50 bounceInDown">
        <h3><%= t("features") %></h3>
        <div class="devider">
          <i class="fa fa-heart-o fa-lg"></i>
        </div>
      </div>

      <!-- service item -->
      <div class="col-md-4 service-item fadeInLeft">
        <div class="service-icon">
          <i class="fa fa-users fa-2x"></i>
        </div>

        <div class="service-desc">
          <h4><%= t("feature-1") %></h4>
          <p><%= t("feature-1-info") %></p>
        </div>
      </div>
      <!-- end service item -->

      <!-- service item -->
      <div class="col-md-4 service-item fadeInUp">
        <div class="service-icon">
          <i class="fa fa-rocket fa-2x"></i>
        </div>

        <div class="service-desc">
          <h4><%= t("feature-2") %></h4>
          <p><%= t("feature-2-info") %></p>
        </div>
      </div>
      <!-- end service item -->

      <!-- service item -->
      <div class="col-md-4 service-item fadeInRight">
        <div class="service-icon">
          <i class="fa fa-vcard-o fa-2x"></i>
        </div>
        <div class="service-desc">
          <h4><%= t("feature-3") %></h4>
          <p><%= t("feature-3-info") %></p>
        </div>
      </div>
      <!-- end service item -->

    </div>
  </div>
</section>

<section id="facts" class="facts">
  <div class="parallax-overlay"></div>
</section>
